.Order {
    width: 80%; /*should span the whole width */
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box; /* so the padding is include in the box's size */
}